@import 'reset';

@import './variables';

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
    height: 400px;
    background-color: wheat;
  }

  @import '../../components/hero/hero';